@charset "UTF-8";

.login {
  background: url("/static/images/login_bg.jpg") no-repeat;
  background-size: cover;

  .form_box {
    width: 26rem;
    height: 22rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0.5rem;
    box-shadow: 0px 0px 5rem rgba(0, 0, 0, 0.3);
    padding: 2rem;

    img.img_code {
      width: 8rem;
      background-color: #cccccc;
      cursor: pointer;
    }

    button.do_login {
      width: 100%;
      display: block;
      margin: 1rem auto;
    }
  }
}