<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% if title %}
        <title>{{ title }} Blog</title>
    {% else %}
        <title>Welcome To Zylan`s Blog</title>
    {% endif %}
</head>
<body>

{% extends 'menu.html' %}

{% block content %}

    <h1>Hello，{{ user.username }}</h1>

    <h3>以下是一个循环：</h3>

    {% for post in posts %}
        <p>{{ post.author.username }} ：{{ post.body }}</p>
    {% endfor %}


    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>

{% endblock %}

</body>
</html>